{% load static %}
<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <meta charset="utf-8">
        <title>ай-Чат</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script type="text/javascript">
            var CSRF_TOKEN = "{{ csrf_token }}";
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script type="text/javascript" src="{% static 'js/ui-bootstrap-tpls-0.14.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ng-upload.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>

        <style type="text/css">
        .chat > p > span{
            white-space: pre;
            display: block;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <h1><span class="glyphicon glyphicon-globe text-primary" aria-hidden="true"></span> ай-Чат</h1>
            <ul class="list-group">
                {% if request.user.is_authenticated %}
                <li class="list-group-item list-group-item-info" ng-controller="MessageController">
                    <form name="Form" action="/s/addMessage.html" ng-upload="complete(content)" novalidate>
                        {% csrf_token %}
                        <div class="input-group form-group">
                          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                          <input type="text" class="form-control" placeholder="Никнейм" value="{{ request.user.username }}" readonly>
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="Logout()">выйти</button>
                          </span>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Сообщение" required="" id="message" name="message"></textarea>
                        </div>

                        <div class="form-group pull-left">
                          <input type="file" name="file" id="file"></input>
                        </div>
                        <p class="text-right pull-right"><button class="btn btn-default btn-sm" type="submit" ng-disabled="$isUploading">Отправить</button></p>
                        <br clear="all">
                    </form>

                </li>
                {% else %}
                <li class="list-group-item list-group-item-danger text-center" ng-controller="AuthController">
                    <p><b>Включен режим "только чтение"</b><br>Авторизируйтесь и вы сможете поучавствовать в дискусии.</p>
                    <button type="button" class="btn btn-success btn-xs" ng-click="authModalOpen()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Войти</button>
                </li>
                {% endif %}
                <li class="list-group-item chat" ng-controller="ChatController">
                    <p ng-repeat="i in messages">
                        <i>{$ i.date $}</i> <b>{$ i.username $}</b><br>
                        <span ng-show="i.message">{$ i.message $}</span>
                        <span ng-show="i.file"><a href="{$ i.file.url $}" target="_blank">{$ i.file.name $}</a></span>
                    </p>
                </li>
            </ul>
        </div>
    </body>
</html>