<div class="modal-header">
    <h3 class="modal-title"><span ng-show="item.formType=='new'">Регистрация</span><span ng-show="item.formType=='old'">Авторизация</span></h3>
</div>

<div class="modal-body">

  <form name="Form" novalidate>
    <div class="btn-group form-group">
        <label class="btn btn-primary" ng-model="item.formType" uib-btn-radio="'old'">У меня есть аккаунт</label>
        <label class="btn btn-primary" ng-model="item.formType" uib-btn-radio="'new'">Хочу зарегистрироваться</label>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : Form.username.$invalid && (Form.username.$touched || Form.$submitted) }">
      <label for="username">Никнейм</label>
      <input type="text" placeholder="Никнейм" required="" ng-model="item.username" id="username" class="form-control" name="username">
    </div>

    <div class="form-group" ng-class="{ 'has-error' : Form.password1.$invalid && (Form.password1.$touched || Form.$submitted) }">
      <label for="password1">Пароль</label>
      <input type="password" placeholder="Пароль" required="" ng-model="item.password1" id="password1" class="form-control" name="password1">
    </div>

    <div class="form-group" ng-if="item.formType=='new'" ng-class="{ 'has-error' : item.formType=='new' && Form.password2.$invalid && (Form.password2.$touched || Form.$submitted) }">
      <label for="password2">Подтверждение пароля</label>
      <input type="password" placeholder="Подтверждение пароля" required="" ng-model="item.password2" id="password2" class="form-control" name="password2">
    </div>
  </form>

</div>
<div class="modal-footer">
    <p class="text-danger pull-left"><b>{$ alert $}</b></p>

    <button class="btn btn-primary" ng-click="ok()"><span ng-show="item.formType=='new'">Зарегистрироваться</span><span ng-show="item.formType=='old'">Войти</span></button>
    <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>